
.botao{   
    background-color: #333974;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    opacity: .8;
    transition: 0.3s;
    font-weight: 600;
}

.pequeno {
  width: 30px;  
}

button:hover{
    opacity: 1;
}

.complete{
  background-color: #0a6c0a;
  border: 1.5px solid  #077007;
}

.remove{
  background-color: #c3150f;
  border: 1.5px solid #b00e09;
}