.content{
  display: flex;
  flex-direction: column;  
}

.content p{
  margin-top: .2rem;
}

.acoes{
  margin-bottom: 1.5rem;
}

.todo{
  margin-top: 1.5rem;
}

h1{
  text-align: center;
}

input{
  box-sizing: border-box;  
}
