.content{
  display: flex;
  flex-direction: column;  
}

.content p{
  margin-top: .2rem;
}

.acoes{
  margin-bottom: 1.5rem;
}

.todo{
  margin-top: 1.5rem;
  background-color: #fff;
  border-bottom: 1px solid #555;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: .5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  text-align: center;
}

input{
  box-sizing: border-box;  
}

.texto{
  font-size: 1.3rem;
  margin-bottom: .6rem;
}
